@model CentralParking.Models.Locador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Locador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Dono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Dono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_Dono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_Dono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CPF }) |
    @Html.ActionLink("Back to List", "Index")
</p>
